<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyTestProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginFormServlet</servlet-name>
    <servlet-class>LoginForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrowseMoviesServlet</servlet-name>
    <servlet-class>BrowseMovies</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovieListServlet</servlet-name>
    <servlet-class>MovieList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFormServlet</servlet-name>
    <url-pattern>/servlet/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowseMoviesServlet</servlet-name>
    <url-pattern>/servlet/BrowseMovies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieListServlet</servlet-name>
    <url-pattern>/servlet/MovieList</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>MySQL Connection Pooling</description>
    <res-ref-name>jdbc/moviedb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>SearchMovies</display-name>
    <servlet-name>SearchMovies</servlet-name>
    <servlet-class>SearchMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMovies</servlet-name>
    <url-pattern>/servlet/SearchMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchList</display-name>
    <servlet-name>SearchList</servlet-name>
    <servlet-class>SearchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchList</servlet-name>
    <url-pattern>/servlet/SearchList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/servlet/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateQuantityServlet</servlet-name>
    <servlet-class>UpdateQuantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuantityServlet</servlet-name>
    <url-pattern>/servlet/UpdateQuantity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/servlet/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/servlet/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleMovie</display-name>
    <servlet-name>SingleMovie</servlet-name>
    <servlet-class>SingleMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleMovie</servlet-name>
    <url-pattern>/servlet/SingleMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleStar</display-name>
    <servlet-name>SingleStar</servlet-name>
    <servlet-class>SingleStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleStar</servlet-name>
    <url-pattern>/servlet/SingleStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administration</display-name>
    <servlet-name>Administration</servlet-name>
    <servlet-class>Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/servlet/Administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllPrivileges</display-name>
    <servlet-name>AllPrivileges</servlet-name>
    <servlet-class>AllPrivileges</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPrivileges</servlet-name>
    <url-pattern>/servlet/AllPrivileges</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/servlet/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoComplete</display-name>
    <servlet-name>AutoComplete</servlet-name>
    <servlet-class>AutoComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoComplete</servlet-name>
    <url-pattern>/servlet/AutoComplete</url-pattern>
  </servlet-mapping>
</web-app>